body{
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.title1{
  margin-top: 30px;
  color: green;
}
.getinp{
  margin: 30px;
}
.input1{
  padding-left: 40px;
  margin: 20px;
  border-color: green;
}
.intbutton{
  background-color: rgb(34, 166, 34);
  color: white;
  border-radius: 5px;
  padding: 5px;
}
.title2{
  margin-right: 600px;
}
.title3{
  margin-left: 600px;
}
 /*Full*/
 .todoin{
  background-color:rgb(155, 155, 155);
  display: inline-block;
  padding: 20px;
  margin: 20px;
  width: 300px;
  height: 200px;
 }
 .editb{
  border: none;
  border-radius: 5px;
  background-color: rgb(34, 166, 34);
  color: white;
  margin: 5px;
 }
 .deleteb{
  border: none;
  border-radius: 5px;
  background-color: rgb(166, 118, 34);
  color: white;
  margin: 5px;
 
 }
 .list-todo{
  margin-right: 150px;
 }